<div>
    <mat-card>
        <mat-card-content>
            <app-binding></app-binding>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
            <app-pipes>

            </app-pipes>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
            <app-directives>
                
            </app-directives>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
            <app-colorful>
                
            </app-colorful>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
            <app-imput slogen="from father component">
                
            </app-imput>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
            <app-output (report)="dispReport($event)">
                
            </app-output>
        </mat-card-content>
      </mat-card>
      
</div>

